.fundo{
    font-size:16px;
    background-color: white;
}

.fundo1{
    font-size:16px;
    background-color: rgb(53, 51, 51);
}

.btn-container{
    position: absolute;
    top: 5em;
    margin-left: 50em;
    color: white;
}

#contraste{
    position: absolute;
    top: 5em;
    margin-left: 23em;
    color: white;
}

.fonte{font-weight: bold;}

.contraste{
    font-weight: bold;
    margin-right: 0.5em;
    margin-left: 15em;
}

.contraste-normal{
    width: 1em;
    height: 1em;
    border: solid 1px black;
    border-radius: 8px;
    margin-left: 1em;
    position: absolute;
}

.alto-contraste{
    width: 1.2em;
    height: 1.2em;
    margin-left: 3em;
    position: absolute;
}

a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#link{
    position: absolute;
    top: 5em;
    margin-left: 13em;
}

#link-2{
    position: absolute;
    top: 5em;
    margin-left: 24em;
}

#link-3{
    position: absolute;
    top: 5em;
    margin-left: 60em;
}

#link-4{
    position: absolute;
    top: 5em;
    margin-left: 75em;
}