*{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    height: 80px;
    padding: 20px;
    background: rgb(47,104,187);
    background: linear-gradient(90deg, rgba(47,104,187,1) 0%, rgba(33,109,221,1) 31%, rgba(23,92,175,1) 100%);
}

footer{
    background: rgb(47,104,187);
    background: linear-gradient(90deg, rgba(47,104,187,1) 0%, rgba(33,109,221,1) 31%, rgba(23,92,175,1) 100%);
    height: 20px;
    text-align: center;
    padding: 30px;
    font-family: helvetica;
    color: aliceblue;
    clear: both;

}

.fixo{
    resize: none;
}

#divForm{
    margin: 1% 34% 11%;
    background-color: aliceblue;
    float: left;
    border: 1px solid rgb(48, 132, 206);
    border-radius: 4px;
    padding: 30px;
    width: 550px;
    height: 327px;
}

#texto{
    margin-top: 155px;
}

#linha{
    margin-left: 10px;
}

#divFiltro{
    margin-bottom: 15px;
    /* background-color: cyan; */
    width: 420px;
    
}

#labelFiltro{
    float: left;
    margin: 6px 0;
}

#divBtn{
    text-align: right;
    width: 340px;
    /* background-color: cyan; */
}

#avaliarM{
    border-radius: 0 4px 4px 0;
    height: 30px;
    padding: 0 10px;
    background-color: cornflowerblue;
    border: 1px solid rgb(48, 132, 206);
}

#avaliarP{
    border-radius: 4px 0 0 4px;
    height: 30px;
    padding: 0 10px;
    background-color: rgba(89, 99, 119, 0.432);
    color: rgb(94, 94, 94);
    border: 1px solid rgb(48, 132, 206);
}

#avaliarM:hover{
    background-color: rgb(17, 94, 236);
    color: white;
}

#divNome{
    margin-bottom: 15px;
    width: 420px;
    /* background-color: cyan; */
}

#inputNome{
    margin-left: 50px;
    width: 300px;
    border: 1px solid rgb(48, 132, 206);
    border-radius: 4px 0 0 4px;
    padding-left: 2px;
    height: 20px;
    border-right: transparent;
}

#btnNome{
    border: 1px solid rgb(48, 132, 206);
    border-radius: 0 4px 4px 0;
    height: 22.1px;
    width: 21px;
    padding: 3px;
    border-left: transparent;
    margin-top: 0.5px;
    margin-bottom: 0;
    background-color: white;
}

#btnNome:hover{
    color: cornflowerblue;
}

#divImg{
    /* background-color: crimson; */
    float: right;
    width: 90px;
    height: 90px;
    margin-top: 0px;    
}

#imgP{
    border-radius: 6px;
    margin-top: 20px;
}

#divMateria{
    /* background-color: cyan; */
    width: 92px;
    height: 20px;
    float: left;
    margin-bottom: 15px;
    color: rgba(94, 94, 94, 0.527);
}

#divBtnMateria{
    /* background-color: darksalmon; */
    width: 413px;
    height: 20px;
    padding-left: 5px;
    margin-bottom: 15px;
}

#labelRadio1{
    padding: 0 10px; 
    padding-left: 17px;  
    border-radius: 4px 0 0 4px; 
    border: 1px solid rgba(91, 91, 92, 0.336);
    text-align: center;
    height: 20px;
    background-color: rgba(89, 99, 119, 0.24);
    color: rgba(94, 94, 94, 0.527);
}

#labelRadio2{
    padding: 0 10px;
    padding-left: 17px;
    border: 1px solid rgba(91, 91, 92, 0.336);
    text-align: center;
    height: 20px;
    background-color: rgba(89, 99, 119, 0.24);
    color: rgba(94, 94, 94, 0.527);
}

#labelRadio3{
    padding: 0 10px;
    padding-left: 17px;
    border-radius: 0 4px 4px 0;
    border: 1px solid rgba(91, 91, 92, 0.336);
    text-align: center;
    height: 20px;
    background-color: rgba(89, 99, 119, 0.24);
    color: rgba(94, 94, 94, 0.527);
}

#inputRadio1{
    visibility: hidden;
}

#inputRadio2{
    visibility: hidden;
}

#inputRadio3{
    visibility: hidden;
}

#labelRadio11{
    padding: 0 10px; 
    padding-left: 17px;  
    border-radius: 4px 0 0 4px; 
    border: 1px solid rgb(48, 132, 206);
    text-align: center;
    height: 20px;
    background-color: rgba(100, 148, 237, 0.616);
    color: black;
}

#labelRadio11:hover{
    background-color: dodgerblue;
    color: white;
}

#labelRadio21{
    padding: 0 10px; 
    padding-left: 17px;  
    border-radius: 4px 0 0 4px; 
    border: 1px solid rgb(48, 132, 206);
    text-align: center;
    height: 20px;
    background-color: rgba(100, 148, 237, 0.616);
    color: black;
}

#labelRadio21:hover{
    background-color: dodgerblue;
    color: white;
}

#labelRadio31{
    padding: 0 10px; 
    padding-left: 17px;  
    border-radius: 4px 0 0 4px; 
    border: 1px solid rgb(48, 132, 206);
    text-align: center;
    height: 20px;
    background-color: rgba(100, 148, 237, 0.616);
    color: black;
}

#labelRadio31:hover{
    background-color: dodgerblue;
    color: white;
}