*{
    /* font-size: 14px; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    height: 80px;
    padding: 20px;
    background: rgb(47,104,187);
    background: linear-gradient(90deg, rgba(47,104,187,1) 0%, rgba(33,109,221,1) 31%, rgba(23,92,175,1) 100%);
}

footer{
    background: rgb(47,104,187);
    background: linear-gradient(90deg, rgba(47,104,187,1) 0%, rgba(33,109,221,1) 31%, rgba(23,92,175,1) 100%);
    height: 20px;
    text-align: center;
    padding: 30px;
    font-family: helvetica;
    color: aliceblue;
    clear: both;

}

/*DAQUI PRA CIMA É A BASE DE TODAS AS PÁGINAS*/

#divForm{
    margin: 1% 34% 11%;
    background-color: aliceblue;
    float: left;
    border: 1px solid rgb(48, 132, 206);
    border-radius: 4px;
    padding: 30px;
    width: 550px;
    height: 327px;
}

#texto{
    margin-top: 155px;
}

#linha{
    margin-left: 10px;
}


#avaliar, #coment{
    text-align: center;
    width: 300px;
    height: 90px;
    padding: 25px;
    border: 1px solid rgb(48, 132, 206);
    margin-left: 130px;
    margin-top: 50px;
    background-color: rgb(25, 74, 134);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border-width: 2px;
    border-color: buttonface;
}

button:hover{
    background-color: rgb(8, 65, 170);
    color: whitesmoke;
    box-shadow: 2px 2px 2px 2px rgb(44, 14, 175);
}



/* CSS Acessibilidades */

.fundo{
    font-size:16px;
    background-color: white;
}

.fundo1{
    font-size:16px;
    background-color: rgb(53, 51, 51);
}

.btn-container{
    position: absolute;
    top: 5em;
    margin-left: 50em;
    color: white;
}

#contraste{
    position: relative;
    top: 3.7em;
    width: 100px;
    margin-left: auto;
    color: white;
    margin-right: auto;
}

.fonte{font-weight: bold;}

.contraste{
    font-weight: bold;
    margin-right: 0.5em;
}

.contraste-normal{
    width: 1em;
    height: 1em;
    border: solid 1px black;
    border-radius: 8px;
    margin-left: 1em;
    position: absolute;
}

.alto-contraste{
    width: 1.2em;
    height: 1.2em;
    margin-left: 3em;
    position: absolute;
}

a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#link{
    position: absolute;
    top: 5em;
    margin-left: 15em;
}

#link-2{
    position: absolute;
    top: 5em;
    margin-left: 25em;
}

#link-3{
    position: absolute;
    top: 5em;
    margin-left: 60em;
}

#link-4{
    position: absolute;
    top: 5em;
    margin-left: 75em;
}
